@namespace RecipeApplication
@using KeywordSearchBox
@using System.Collections.Generic;
@inject HttpClient Http
@inject ISearchModel<RecipeApplication.Database.Recipe> recipe;

@if (IngredientNames == null)
{
    <p style="text-align:center;">Loading...</p>
}
else
{
    <SearchBox WordList=@(IngredientNames)
               OnSearch="@FindRecipe" Uri="Counter"></SearchBox>
}

@code {
    private IReadOnlyCollection<string> IngredientNames;
    protected override async Task OnInitializedAsync()
    {
        IngredientNames = (await Http.GetJsonAsync<IEnumerable<string>>("api/Ingredients")).ToList().AsReadOnly();
    }
    private async Task FindRecipe(IList<string> data)
    {
        recipe.Keywords = data;
        recipe.Results = await Http.PostJsonAsync<IEnumerable<RecipeApplication.Database.Recipe>>("api/Recipes/Search", data);
    }
}
